* {
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  height: 64px;
  background-color: #f6f7f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 200px);
  background: linear-gradient(#0010241f 12%, transparent);
  height: 1px;
}

/*________*/
.guest-actions,
.user-actions {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.guest-actions__container {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1;
  justify-content: flex-end;
}

.guest-actions__search {
  flex: 1;
  padding: 0 3vw;
}

.guest-actions__search input {
  width: 17.667vw;
  height: 36px;
  padding: 0 12px;
  border: none;
  border-radius: 8px;
  background-color: #eceef1;
  transform: translate(-5%);
}

.guest-actions__search input::placeholder {
  color: #888888c1;
  opacity: 1;
}

.guest-actions__auth {
  align-items: center;
  white-space: nowrap;
}

.guest-actions__profile,
.guest-actions__logout,
.guest-actions__auth,
.guest-actions__registration {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  flex: 0 1 auto;
  color: #0000008a;
}

.guest-actions__profile img,
.guest-actions__logout img,
.guest-actions__auth img,
.guest-actions__registration img {
  width: 32px;
  height: 32px;
}

/* ===== Tablet & мобильные ===== */
@media (max-width: 768px) {
  .header {
    padding: 0 16px;
    height: auto;
    min-height: 64px;
  }

  .logo {
    margin-right: auto;
  }

  .user-actions,
  .guest-actions {
    width: 100%;
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 8px;
    padding: 12px;
  }

  .header:has(.user-actions) {
    .logo {
      transform: translateY(-20px);
    }
  }

  .header:has(.guest-actions) {
    .logo {
      transform: translateY(-20px);
    }
  }
  .user-actions__search,
  .guest-actions__search {
    flex: none;
    width: auto;
  }

  .guest-actions__search,
  .guest-actions__search input {
    width: 100%;
    transform: translate(-5%);
  }

  .guest-actions__auth,
  .guest-actions__registretion {
    flex: 1;
    font-size: 14px;
    padding: 8px 12px;
  }

  .guest-actions__auth img,
  .guest-actions__registretion img {
    width: 14px;
    height: 14px;
  }
}
